.suo
PoC-1st-year-project-report.VC.opendb
PoC-1st-year-project-report.sdf
FreeImage.dll
PoC-1st-year-project-report.exe
PoC-1st-year-project-report.exp
PoC-1st-year-project-report.lib
PoC-1st-year-project-report_debug.exp
PoC-1st-year-project-report_debug.lib
PoC-1st-year-project-report_debug.pdb
Zlib.dll
assimp.dll
matches_im_0.jpg
matches_im_1.jpg
matches_im_10.jpg
matches_im_11.jpg
matches_im_12.jpg
matches_im_2.jpg
matches_im_3.jpg
matches_im_4.jpg
matches_im_5.jpg
matches_im_6.jpg
matches_im_7.jpg
matches_im_8.jpg
matches_im_9.jpg
matches_im_13.jpg
matches_im_14.jpg
matches_im_15.jpg
matches_im_16.jpg
matches_im_17.jpg
matches_im_18.jpg
matches_im_19.jpg
matches_im_20.jpg
360.jpg
matches_im_21.jpg
matches_im_22.jpg
PTZ.jpg
PTZ_0.jpg
PTZ_1.jpg
PTZ_2.jpg
PTZ_3.jpg
PTZ_4.jpg
testMovie2016-12-22-15-41-01-522.mp4
testMovie2016-12-22-15-43-04-519.mp4
testMovie2016-12-22-15-58-07-019.mp4
testMovie2016-12-22-16-00-45-972.mp4
testMovie2016-12-22-16-10-08-389.mp4
testMovie2016-12-22-16-12-01-397.mp4
testMovie2016-12-22-17-13-45-761.mp4.mp4
dxl_x64_cpp.dll
dxl_x64_cpp.pdb
ffmpeg.exe
fmodex64.dll
fmodexL64.dll
freetype.dll
glut32.dll
libeay32.dll
opencv_core310.dll
opencv_cudaarithm310.dll
opencv_features2d310.dll
opencv_flann310.dll
opencv_imgcodecs310.dll
opencv_imgproc310.dll
opencv_video310.dll
opencv_xfeatures2d310.dll
ssleay32.dll
CGLRenderModel.obj
Matrices.obj
CL.command.1.tlog
CL.read.1.tlog
CL.write.1.tlog
PoC-1st-year-project-report.lastbuildstate
link-cvtres.read.1.tlog
link-cvtres.write.1.tlog
link-rc.read.1.tlog
link-rc.write.1.tlog
link.command.1.tlog
link.read.1.tlog
link.write.1.tlog
rc.command.1.tlog
rc.read.1.tlog
rc.write.1.tlog
unsuccessfulbuild
PoC-1st-year-project-report.log
PoC-1st-year-project-report.vcxprojResolveAssemblyReference.cache
main.obj
ofApp.obj
ofAppVR.obj
ofxBaseGui.obj
ofxButton.obj
ofxGuiGroup.obj
ofxLabel.obj
ofxOpenVR.obj
ofxPanel.obj
ofxSlider.obj
ofxSliderGroup.obj
ofxToggle.obj
vc140.pdb
Alignment.obj
BasePTZCamera.obj
Cloning.obj
CombinedCamera.obj
CombinedCameraTask.obj
LogitechPTZCamera.obj
PTZCamera.obj
PTZCameraTask.obj
PTZControl.obj
PTZMotorControl.obj
PoC-1st-year-project-report.write.1u.tlog
PoC-1st-year-project-report.Build.CppClean.log
SimpleTaskProgress.obj
ofxCvColorImage.obj
ofxCvContourFinder.obj
ofxCvFloatImage.obj
ofxCvGrayscaleImage.obj
ofxCvHaarFinder.obj
ofxCvImage.obj
ofxCvShortImage.obj
ofxVideoRecorder.obj
_suo.doc
dxl_x86_cpp.vcxproj.user
dxl_x86_cpp.dll
dxl_x86_cpp.lib
dxl_x64_cpp.VC.db
dxl_x64_cpp.log
dxl_x64_cpp.lastbuildstate
dxl_x64_cpp.write.1u.tlog
group_bulk_read.obj
group_bulk_write.obj
group_sync_read.obj
group_sync_write.obj
packet_handler.obj
port_handler.obj
port_handler_windows.obj
protocol1_packet_handler.obj
protocol2_packet_handler.obj
dxl_x64_cpp.exp
dxl_x64_cpp.iobj
dxl_x64_cpp.ipdb
dxl_x64_cpp.lib
filename.txt
*.jpg
*.obj
*.dll
*.yml
